.top-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
    .offcanvas-header {
        display: none;
    }
    .navbar-toggler {
        display: none;
    }
    .logo {
        float: $right;
        border: none;
        padding: 22px 45px 22px 32.5px;
        background-color: transparent;
        border-left: 1px solid #E2E2E2;
        @include media-breakpoint-down(sm) {
            padding: 31px 19px 30px 31.5px !important;
        }
    }
    nav {
        padding: 22px 63.2px;
        float: $right;
        .navbar-nav {
            margin: 0;
            padding: 0;
            a.nav-link {
                color: $tc1;
                font-size: 18px;
                font-weight: 500;
                padding-left: 45px;
                &:hover {
                    color: $tc1;
                }
            }
            .nav-item.dropdown {
                .dropdown-menu {
                    top: 65px;
                    border-top: none;
                    border-radius: 0 0 10px 10px;
                    -webkit-border-radius: 0 0 10px 10px;
                    -moz-border-radius: 0 0 10px 10px;
                    -ms-border-radius: 0 0 10px 10px;
                    -o-border-radius: 0 0 10px 10px;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
                }
            }
        }
    }
    .lang {
        float: $left;
        padding: 30px 20.5px 31px 35px;
        font-size: 18px;
        color: $tc1;
        text-decoration: none;
        font-family: 'Nunito', sans-serif;
        border-right: 1px solid #E2E2E2;
        img {
            margin-left: 10px;
        }
    }
    .screen-overlay {
        height: 100%;
        z-index: 30;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(34, 34, 34, 0.6);
        transition: opacity .2s linear, visibility .1s, width 1s ease-in;
        -webkit-transition: opacity .2s linear, visibility .1s, width 1s ease-in;
        -moz-transition: opacity .2s linear, visibility .1s, width 1s ease-in;
        -ms-transition: opacity .2s linear, visibility .1s, width 1s ease-in;
        -o-transition: opacity .2s linear, visibility .1s, width 1s ease-in;
    }
    .screen-overlay.show {
        transition: opacity .5s ease, width 0s;
        opacity: 1;
        width: 100%;
        visibility: visible;
    }
    &.scrolled {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        margin-top: -130px;
        &.awake {
            margin-top: 0px;
            transition: .3s all ease-out;
        }
        &.sleep {
            transition: .3s all ease-out;
        }
    }
}

@media all and (max-width:992px) {
    .offcanvas-header {
        display: block;
    }
    .top-nav {
        .navbar-toggler {
            display: block;
            float: $right;
            padding: 31px 20px 33px 0px;
            .icon-bar {
                width: 25px;
                height: 3px;
                background-color: $mc;
                display: block;
                transition: all 0.2s;
                margin-top: 4px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
        }
        .logo {
            border-left: none;
            padding: 31px 45px 30px 32.5px;
            img {
                max-width: 100px;
            }
        }
        .lang {
            padding: 31px 0.5px 33px 20px;
            border-right: none;
        }
        nav {
            .navbar-nav {
                a.nav-link {
                    color: #404040;
                    font-size: 18px;
                    font-weight: 500;
                    padding-right: 20px;
                    text-align: right;
                    padding-left: 0;
                    border-bottom: 1px solid #E2E2E2;
                    img {
                        width: 25px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .mobile-offcanvas {
        visibility: hidden;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        border-radius: 0;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1200;
        width: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: all .3s ease-in-out, transform .2s ease-in-out;
    }
    .mobile-offcanvas.show {
        visibility: visible;
        transform: translateX(0);
        background-color: #fff;
        padding: 22px 0px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1300px) {
    .top-nav {
        .logo {
            float: right;
            border: none;
            padding: 22px 20px 22px 20.5px;
            background-color: transparent;
            border-left: 1px solid #E2E2E2;
        }
        nav {
            padding: 22px 15px;
            float: right;
            .navbar-nav a.nav-link {
                padding-left: 20px;
            }
        }
        .lang {
            padding: 30px 15px 31px 15px;
        }
    }
}