@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import '_color.scss';
@import 'fonts';
@import 'var';
@import 'navEn';
body {
    background-color: $bg;
    direction: $endir;
    font-family: Nunito, Arial, sans-serif;
    text-align: left;
}

ul {
    margin: 0;
    padding: 0;
}

.wathefa-section {
    padding: 3em 0;
    position: relative;
    @include media-breakpoint-down(sm) {
        padding: 3em 0;
    }
}

.wathefa-animate {
    opacity: 0;
    visibility: hidden;
}

.wathefa-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

//OWL CAROUSEL
.owl-carousel {
    position: relative;
    .owl-item {
        opacity: .4;
        &.active {
            opacity: 1;
        }
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        .owl-prev,
        .owl-next {
            position: absolute;
            transform: translateY(-50%);
            margin-top: -10px;
            color: $primary !important;
            @include transition(.7s);
            span {
                &:before {
                    font-size: 30px;
                }
            }
            opacity: 0;
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }
    .owl-dots {
        text-align: center;
        .owl-dot {
            width: 10px;
            height: 10px;
            margin: 5px;
            border-radius: 50%;
            background: lighten($black, 90%);
            position: relative;
            &:after {
                position: absolute;
                top: -2px;
                left: -2px;
                right: 0;
                bottom: 0;
                width: 14px;
                height: 14px;
                content: '';
                border: 1px solid lighten($black, 90%);
                @include border-radius(50%);
            }
            &.active {
                background: lighten($black, 70%);
            }
        }
    }
    &:hover {
        .owl-nav {
            .owl-prev,
            .owl-next {
                opacity: 1;
            }
            .owl-prev {
                left: -25px;
            }
            .owl-next {
                right: -25px;
            }
        }
    }
}

.owl-custom-nav {
    float: right;
    position: relative;
    z-index: 10;
    border: 1px solid red;
    .owl-custom-prev,
    .owl-custom-next {
        padding: 10px;
        font-size: 30px;
        background: #ccc;
        line-height: 0;
        width: 60px;
        text-align: center;
        display: inline-block;
    }
}


/* hero header */

.hero-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: inherit;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: .2;
        background: #000000;
    }
    .slider-text {
        color: $white;
        h1 {
            font-size: 36px;
            color: $white;
            line-height: 1;
            font-weight: bold;
            position: relative;
            z-index: 10;
            margin-top: 130px;
            @include media-breakpoint-down(xs) {
                font-size: 16px;
                margin-top: 130px;
            }
            span {
                font-size: 16px;
                font-weight: 400;
                display: block;
                margin-top: 5px;
                @include media-breakpoint-down(md) {
                    line-height: 22px;
                    font-size: 14px;
                    margin-top: 12px;
                    display: block;
                }
            }
        }
        p {
            font-size: 20px;
            line-height: 1.5;
            font-weight: 300;
            color: rgba(255, 255, 255, .8);
            strong {
                font-weight: 700;
                a {
                    color: $black;
                }
            }
        }
        .breadcrumbs {
            font-size: 18px;
            letter-spacing: 1px;
            margin-bottom: 20px;
            z-index: 99;
            span {
                color: rgba(255, 255, 255, .7);
                a {
                    color: $white;
                }
            }
        }
        .bread {
            font-weight: 400 !important;
        }
        .btn-primary {
            border: 1px solid rgba(255, 255, 255, .4);
            @include border-radius(30px);
            &:hover,
            &:focus {
                background: $white !important;
                color: $black;
            }
        }
    }
    .ftco-search {
        position: relative;
        width: 100%;
        display: block;
        .nav-link-wrap {}
        .nav-pills {
            p {
                margin-bottom: 0;
            }
            @include media-breakpoint-down(sm) {
                display: flex;
                flex-wrap: wrap;
            }
            .nav-link {
                padding: 15px 30px;
                border-radius: 0;
                margin-bottom: 0;
                color: $white;
                font-size: 18px;
                font-weight: 400;
                position: relative;
                display: inline-block;
                border: 1px solid transparent;
                background: $mc;
                @include border-radius(5px);
                @include media-breakpoint-down(md) {
                    color: rgba(255, 255, 255, .7);
                }
                &.active,
                &:hover {
                    color: rgba(0, 0, 0, .7);
                    @include transition(.3s);
                    border: 1px solid transparent;
                    background: rgba(255, 255, 255, 1);
                    &:after {
                        opacity: 1;
                    }
                    @include media-breakpoint-down(sm) {
                        &:after {
                            opacity: 0;
                        }
                    }
                }
                @include media-breakpoint-down(sm) {
                    display: block;
                    // width: 100%;
                    margin-bottom: 5px;
                    padding: 10px;
                    flex: 1 1 auto;
                    font-weight: bold;
                }
                @include media-breakpoint-down(xs) {
                    padding: 10px;
                }
            }
            a:first-child {
                margin-left: 0 !important;
                margin-right: 0.25rem;
            }
        }
        .tab-content {
            background: $white;
            @include border-radius(7px);
            margin-top: -9px;
        }
    }
    .search-job {
        .form-group {
            position: relative;
            margin-bottom: 0;
            @include media-breakpoint-down(sm) {
                margin-bottom: 10px;
            }
            label {
                font-weight: 400;
                font-size: 16px;
                color: $black;
            }
            .form-field {
                position: relative;
                display: block;
            }
            .form-control {
                padding-left: 30px;
                display: block;
                width: 100%;
                height: 55px;
                font-size: 18px;
                border: 1px solid #E2E2E2;
                color: rgba(0, 0, 0, .7) !important;
                background: transparent !important;
                @include border-radius(5px);
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #AEAEB1!important;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #AEAEB1 !important;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #AEAEB1 !important;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: #AEAEB1 !important;
                }
                &.btn {
                    height: 55px;
                    font-size: 18px;
                    color: $white !important;
                    @include border-radius(5px);
                    &.btn-primary {
                        background: $mc !important;
                    }
                }
            }
            .select-wrap {
                position: relative;
                select {
                    appearance: none;
                }
            }
            .icon {
                position: absolute;
                top: 51%;
                left: 10px;
                font-size: 16px;
                transform: translateY(-50%);
                color: lighten($black, 85%);
                @include media-breakpoint-down(sm) {
                    // right: 10px;
                }
            }
        }
    }
}

.services {
    .nav-pills {
        p {
            margin-bottom: 0;
        }
        @include media-breakpoint-down(sm) {
            display: flex;
            flex-wrap: wrap;
        }
        .nav-item {
            @include media-breakpoint-down (sm) {
                flex: 1 1 auto;
            }
            .nav-link {
                padding: 15px 30px;
                border-radius: 0;
                margin-bottom: 0;
                color: $white;
                font-size: 18px;
                font-weight: 400;
                position: relative;
                display: inline-block;
                border: 1px solid transparent;
                background: $mc;
                @include border-radius(5px);
                @include media-breakpoint-down(md) {
                    color: rgba(255, 255, 255, .7);
                }
                &.active,
                &:hover {
                    color: rgba(0, 0, 0, .7);
                    @include transition(.3s);
                    border: 1px solid transparent;
                    background: rgba(255, 255, 255, 1);
                    &:after {
                        opacity: 1;
                    }
                    @include media-breakpoint-down(sm) {
                        &:after {
                            opacity: 0;
                        }
                    }
                }
                @include media-breakpoint-down(sm) {
                    display: block;
                    // width: 100%;
                    margin-bottom: 5px;
                    padding: 15px 10px;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
        .nav-item:first-child {
            margin-left: 0 !important;
            margin-right: 0.25rem;
        }
    }
    .tab-content {
        background: $white;
        @include border-radius(7px);
        padding: 30px 16px;
        margin-top: -5px;
    }
    .card {
        margin: 7.5px;
        overflow: hidden;
        @include border-radius(10px);
        .image-zoom {
            height: 246.56px;
            overflow: hidden;
            img {
                height: 246.56px;
                width: 100%;
                transition: all ease-in-out .3s;
                -webkit-transition: all ease-in-out .3s;
                -moz-transition: all ease-in-out .3s;
                -ms-transition: all ease-in-out .3s;
                -o-transition: all ease-in-out .3s;
            }
        }
        &:hover {
            .image-zoom {
                img {
                    transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
                    transition: all ease-in-out .3s;
                    -webkit-transition: all ease-in-out .3s;
                    -moz-transition: all ease-in-out .3s;
                    -ms-transition: all ease-in-out .3s;
                    -o-transition: all ease-in-out .3s;
                }
            }
        }
        .card-body {
            padding: 0.75rem 0.50rem;
            a {
                color: #404040;
                font-size: 18px;
                &:hover {
                    text-decoration: none;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }
            }
            .stretched-link::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                pointer-events: auto;
                content: "";
                background-color: rgba(0, 0, 0, 0);
            }
            @include media-breakpoint-down (sm) {
                padding: 0.75rem 0.30rem;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        #searchjob,
        #freelance {
            .row {
                display: grid;
                grid-template-columns: repeat(9, calc(85%));
                overflow-x: scroll;
                scroll-snap-type: x proximity;
                grid-template-rows: minmax(150px, 1fr);
                grid-gap: 10px;
            }
        }
    }
}

.jobs {
    h2 {
        font-size: 30px;
        font-weight: 500;
        color: #404040;
        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }
    }
    .btn-all {
        display: flex;
        text-align: end;
        font-size: 18px;
        font-weight: bold;
        color: $mc;
        text-decoration: none;
        padding-right: 40px;
        position: relative;
        justify-content: flex-end;
        height: 100%;
        align-items: center;
        @include media-breakpoint-down(xs) {
            font-size: 13px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 14px;
        }
        &::before {
            content: "";
            position: absolute;
            right: 0;
            background-image: url(../img/rightarrowe.svg);
            height: 18px;
            width: 33px;
            background-repeat: no-repeat;
            background-position: 4px 0px;
            background-size: 25px;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
    }
    .job-post-item {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10);
        @include border-radius(10px);
        padding: 30px;
        margin-bottom: 20px;
        .job-data {
            .job-header {
                h3 {
                    font-size: 28px;
                    font-weight: bold;
                    color: $tc1;
                    margin-bottom: 0.8rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 20px
                    }
                }
            }
            .job-about {
                ul {
                    list-style: none;
                    li {
                        width: auto;
                        float: left;
                        margin-right: 70px;
                        @include media-breakpoint-down(sm) {
                            width: 50%;
                            margin: 0;
                        }
                        .location {
                            .loc-header {
                                color: #AEAEB1;
                                font-size: 18px;
                                font-weight: 500;
                                @include media-breakpoint-down(sm) {
                                    font-size: 14px;
                                }
                            }
                            .location-name {
                                font-size: 18px;
                                font-weight: bold;
                                @include media-breakpoint-down(sm) {
                                    font-size: 14px;
                                }
                            }
                        }
                        .salary {
                            .sal-header {
                                color: #AEAEB1;
                                font-size: 18px;
                                font-weight: 500;
                                @include media-breakpoint-down(sm) {
                                    font-size: 14px;
                                }
                            }
                            .sal-details {
                                font-size: 18px;
                                font-weight: bold;
                                @include media-breakpoint-down(xs) {
                                    font-size: 13px;
                                }
                                @include media-breakpoint-down(sm) {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                overflow: hidden;
            }
        }
        .btn-apply {
            padding: 11px 73px;
            background-color: $mc;
            color: #fff;
            font-size: 18px;
            @include media-breakpoint-down(sm) {
                display: block;
            }
        }
        .mr-auto {
            margin-right: 0 !important;
            margin-left: auto !important;
        }
    }
    .viewall {
        margin-top: 40px;
        .btn-allview {
            padding: 11px 111px;
            background-color: $mc;
            @include border-radius(5px);
            color: #fff;
            font-size: 18px;
            text-decoration: none;
            span {
                position: relative;
                padding-right: 40px;
                display: inline-block;
                &::before {
                    content: url(../img/whitearrowleft.svg);
                    position: absolute;
                    right: 0;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                }
            }
            @include media-breakpoint-down (sm) {
                padding: 11px 0;
                display: block;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        padding-top: 0px;
    }
    @include media-breakpoint-down(sm) {
        .row.jobs-cards {
            display: grid;
            grid-template-columns: repeat(9, calc(85%));
            overflow-x: scroll;
            scroll-snap-type: x proximity;
            grid-template-rows: minmax(150px, 1fr);
            grid-gap: 10px;
        }
    }
}

.jobapply {
    .bl-dark {
        background-image: url(../img/bg1.svg);
        background-size: cover;
        height: 683px;
        padding: 48px 106px;
        position: relative;
        @include media-breakpoint-down(sm) {
            padding: 0 0 48px 0;
            height: 400px;
        }
        @include media-breakpoint-down(md) {
            padding: 0 0 48px 0;
            height: 400px;
        }
        &::before {
            position: absolute;
            content: "";
            background-color: rgba(0, 0, 0, 0.3);
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    .gr-dark {
        background-image: url(../img/bg2.svg);
        background-size: cover;
        height: 683px;
        padding: 48px 106px;
        position: relative;
        @include media-breakpoint-down(sm) {
            padding: 0 0 48px 0;
            height: 400px;
        }
        @include media-breakpoint-down(md) {
            padding: 0 0 48px 0;
            height: 400px;
        }
        &::before {
            position: absolute;
            content: "";
            background-color: rgba(0, 0, 0, 0.3);
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    .call-to-act-caption {
        padding: 5em 4em;
        text-align: center;
        position: relative;
        height: 100%;
        @include media-breakpoint-down(sm) {
            padding: 3em 1em;
        }
        h2 {
            font-size: 28px;
            font-weight: bold;
            color: $white;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 18px;
            font-weight: 500;
            color: $white;
            line-height: 24px;
        }
        .bat-call-to-act {
            background-color: $mc;
            padding: 11px 15px;
            font-size: 18px;
            font-weight: 500;
            @include border-radius(5px);
            color: $white;
            position: absolute;
            bottom: 0;
            right: 15%;
            left: 15%;
            @include media-breakpoint-down (sm) {
                font-size: 14px;
                right: 5%;
                left: 5%;
            }
            @include media-breakpoint-down (md) {
                font-size: 16px;
                right: 5%;
                left: 5%;
            }
        }
    }
}

.services-section {
    background-color: #EDFAFA;
    overflow: hidden;
    h2 {
        font-size: 30px;
        font-weight: 500;
        color: #404040;
        margin-bottom: 21px;
    }
    .services {
        .icon {
            margin-bottom: 8px;
            img {
                @include media-breakpoint-down(sm) {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .media-body {
            h3 {
                font-size: 20px;
                font-weight: bold;
                @include media-breakpoint-down(sm) {
                    font-size: 13px;
                }
            }
            p {
                max-height: 83px;
                overflow: hidden;
                font-size: 18px;
                font-weight: 500;
                color: #888888;
                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }
            }
        }
    }
}

//TESTIMONY
.testimony-section {
    position: relative;
    direction: ltr;
    background: white;
    .owl-carousel {
        margin: 0;
    }
    .owl-carousel .owl-stage-outer {
        padding-top: 3.5em;
        padding-bottom: 2em;
        position: relative;
    }
    .owl-nav {
        position: absolute;
        top: 100%;
        width: 100%;
        .owl-prev,
        .owl-next {
            position: absolute;
            transform: translateY(-50%);
            margin-top: -10px;
            outline: none !important;
            @include transition(.3s);
            span {
                &:before {
                    font-size: 30px;
                    color: rgba(0, 0, 0, .5);
                    @include transition(.3s);
                }
            }
            &:hover,
            &:focus {
                span {
                    &:before {
                        color: $white;
                    }
                }
            }
            opacity: 0;
        }
        .owl-prev {
            left: 50%;
            margin-left: -80px;
        }
        .owl-next {
            right: 50%;
            margin-right: -80px;
        }
    }
    &:hover {
        .owl-nav {
            .owl-prev,
            .owl-next {
                opacity: 1;
            }
            .owl-prev {
                left: 50%;
                margin-left: -80px;
            }
            .owl-next {
                right: 50%;
                margin-right: -80px;
            }
        }
    }
    .owl-dots {
        text-align: center;
        .owl-dot {
            width: 10px;
            height: 10px;
            margin: 5px;
            border-radius: 50%;
            background: rgba(0, 0, 0, .1);
            &.active {
                background: $secondary;
            }
        }
    }
}

.testimony-wrap {
    display: block;
    position: relative;
    height: 120px;
    line-height: 120px;
    text-align: center;
    img {
        width: auto !important;
        margin: auto;
        display: inline-block !important;
    }
}

.ftco-bg-dark {
    background: #191919;
}

.ftco-footer {
    font-size: 16px;
    background: #191919;
    padding: 0em 0 1em;
    .ftco-footer-logo {
        text-transform: uppercase;
        letter-spacing: .1em;
    }
    .ftco-footer-widget {
        h2 {
            font-weight: normal;
            color: $white;
            margin-bottom: 40px;
            font-size: 20px;
            font-weight: 400;
        }
        ul {
            li {
                a {
                    color: rgba(255, 255, 255, .4);
                    span {
                        color: $white;
                    }
                }
            }
        }
        .btn-primary {
            background: $white !important;
            border: 2px solid $white !important;
            &:hover {
                background: $white;
                border: 2px solid $white !important;
            }
        }
    }
    p {
        color: rgba($white, .7);
    }
    a {
        color: rgba($white, .7);
        &:hover {
            color: $white;
        }
    }
    .ftco-heading-2 {
        font-size: 17px;
        font-weight: 400;
        color: $black;
    }
    .top-footer {
        background-color: #262626;
        padding: 20px 0;
        h2 {
            color: #4A4A4A;
            font-size: 24px;
            font-weight: 400;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media-breakpoint-down(sm) {
                justify-content: left;
                align-items: baseline;
            }
        }
        ul {
            li {
                margin-bottom: 5px;
                a {
                    font-size: 18px;
                    color: #888888;
                    transition: color ease-in-out 0.3s;
                    &:hover {
                        text-decoration: none;
                        color: #fff;
                        transition: color ease-in-out 0.3s;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 16px;
                    }
                }
            }
        }
        .col-md {
            @include media-breakpoint-down(sm) {
                margin-bottom: 10px;
            }
        }
    }
    .bottom-footer {
        background-color: #1F1F1F;
        padding: 20px 0;
        h2 {
            color: #4A4A4A;
            font-size: 24px;
            font-weight: 400;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include media-breakpoint-down(sm) {
                justify-content: left;
                align-items: baseline;
            }
        }
        ul {
            li {
                margin-bottom: 5px;
                a {
                    font-size: 18px;
                    color: #888888;
                    transition: color ease-in-out 0.3s;
                    &:hover {
                        text-decoration: none;
                        color: #fff;
                        transition: color ease-in-out 0.3s;
                    }
                    @include media-breakpoint-down(sm) {
                        font-size: 16px;
                    }
                }
            }
        }
        .col-md {
            @include media-breakpoint-down(sm) {
                margin-bottom: 10px;
            }
        }
    }
}

.ftco-footer-social {
    li {
        list-style: none;
        margin: 0 10px 0 0;
        display: inline-block;
        a {
            height: 50px;
            width: 50px;
            display: block;
            float: left;
            background: rgba($white, .05);
            border-radius: 50%;
            position: relative;
            span {
                position: absolute;
                font-size: 26px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                color: $white;
            }
        }
    }
}

.footer-small-nav {
    >li {
        display: inline-block;
        a {
            margin: 0 10px 10px 0;
            &:hover,
            &:focus {
                color: $primary;
            }
        }
    }
}